.travels{padding: 10upx 20upx;}
.classify text{display: block; font-size: 27upx; color: #14181e; background: #f7f7f7;
    padding: 10upx 20upx; border-radius: 20upx;
    margin: 0 30upx;}
.classify{display: flex;}
.classify-text{font-size: 30upx; color: #14181e; font-weight: bold;}
.classify-view{display: flex; justify-content: flex-start; align-items: center;}
/* 选中的样式 */
.activetext{background: #ffdd00 !important;}
/* 标题 */
.place-text{color: #808080 !important; font-size: 30upx;}
.travels-title{margin: 40upx 0;}
/* 描述 */
.travels-describe textarea{width: 100%; color: #808080 !important; font-size: 30upx;}
/* 上传图片 */
.topimg image{width: 150upx; height: 150upx; border-radius: 20upx;}
.topimg{padding-left: 20upx; padding-top: 10upx;}
/* 九宫格 */
.conteng{display: flex; flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-left: 4px; margin-right: 4px;}
.conteng-img{
    width: calc((100% / 3) - 25px) !important;
    margin: 4px;
    height: 176upx;
    position: relative;
}
.uploadimg{width: 100% !important;height: 100% !important;border-radius: 10upx;}
/* 删除图片 */
.deleteimg{width: 38upx; height: 38upx;position: absolute;top: 6upx;right: 6upx;}
/* 视频 */
.uploadvideo video{width: 100%; height: 400upx; border-radius: 5upx;}
.uploadvideo{margin: 0 8px; border-radius: 5upx; position: relative;}
/* 覆盖视频 */
.pause{width: 50upx; height: 50upx; position: absolute; top: 6upx; right: 6upx;}
/* 位置 */
.address-site{display: flex; align-items: center;}
.address-site image{width: 40upx; height: 40upx; margin-right: 10upx;}
.address-site text{font-size: 30upx; color: #00a2ff;}
.address-text{font-size: 30upx; color: #333333; padding-right: 40upx;}
.address{display: flex; background: #f1f1f1; padding: 20upx 0 20upx 20upx; margin-top: 30upx;
    margin-bottom: 160upx;}
/* 发布 */
.release{background: #ffd655; width: 100%;height: 100upx;color: #ffffff;font-weight: bold;
    font-size: 40upx;
    line-height: 100upx;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999;}
/* 提示用户上传成功与否 */
.warp{position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0,0,0,0.6);
    z-index: 9999;}
.warp-view{width: 500upx;
    height: 200upx;
    background: #FFFFFF;
    margin: auto;
    position: absolute;
    -webkit-position:absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 8upx;
    overflow: hidden;
}
/* 提示框 */
.tipmin text{font-size: 34upx;
    display: flex;
    justify-content: center;
    line-height: 200upx;
}
