	.User-Post{
		margin-top: 25rpx;
	}
	.article{
			padding: 20rpx;
			background-color: #FFFEFF;
			margin: 0 26rpx;
			/* 与imageWrapper配合使用 */
			border-radius: 30rpx;
			overflow-x:hidden;	/*裁剪 div 元素中内容的左/右边缘 - 如果溢出元素的内容区域的话进行隐藏*/

	}
		.userWrapper{
			display: flex;
			align-items: center;
			justify-content: space-between;
		}

		.faceIcon{
			width: 65rpx;
			height: 65rpx;
			border-radius: 100%;
			margin-right: 20upx;
		}

		.userInfoWrapper{
			display: flex;
			align-items: center;
	/* 		margin-left: 20rpx;
			margin-top: 18rpx; */
		}

		.userDetailWrapper{

		}
		.userName{
			font-size: 30rpx;
			line-height: 1.5;
		}
		.createTime{
			color: #9D9589;
			font-size: 25rpx;
			margin-top: -10rpx;
		}

		/* 关注按钮 start */
		.follow{
			width: 90rpx;
			height: 50rpx;
			display: flex;
			align-items: center;
			justify-content: center;
			border-radius: 5rpx;
			background-color: #FFD655;
			color: #FFFFFF;
		}
		/* 关注按钮 end */

		/* 标题start */
		.title{
			width: 100%;
			font-size: 32rpx;
			padding: 0 28rpx 0 28rpx;
			margin: 10rpx 0 0 0;
			line-height: 1.2;
			white-space:wrap;/* 不换行 */
		}
		/* 标题end */

		/* 图片start */
		.imageWrapper{
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			justify-content: space-between;
			padding: 12rpx 28rpx 0;
			/* margin-top: 5rpx; */
			/* margin-left:20rpx; */

		}
		.coverPicture{
			width: 200rpx;
			height: 200rpx;
			border-radius: 15%;
			padding: 5rpx;
		}
		/* 图片end */

	 	/*tags start*/
		.myTagsWrapper{
			display: flex;
			align-items: center;
			justify-content: flex-start;
			padding: 0 30rpx;
			margin-top: 10rpx;
		}

		.myTag {
			display: inline-block;
			/*width: auto;*/
			/*height: auto;*/
			border-radius: 18rpx;
			margin-right: 20rpx;
		}

		.tagContent{
			padding: 0 20rpx ;
			font-size: 22rpx;
		}
		/*tags end*/
		/* 操作图标start */
		.operationIconsWrapper{
			display: flex;
			align-items: center;
			justify-content: space-around;
			margin-top: 8rpx;
		}

		.placeholder-c{
			color: #c7c0c0;
		}
		.icon{
	/* 		display: flex;
			flex: 1;
			align-items: center; */
			/* color: #FFD655; */
			/* color: #646762; */
			margin-right: 10rpx;
		}
		.font-color-change{
			color: #FFD655;
		}

		.font-color-change2{
			color: #FFD655;
		}
		/* 操作图标end */

	.CommentTitlewrapper{
		margin-top: 20rpx;
	}
